            <div class="col-sm-10">
              <h1 data-ng-if="!page.edit">
                <a data-ng-if="page.title !== 'My Applications'" class="application-back" href="{{ page.back }}">
                  <span class="icon retinaicon-retina-icons-v-1-4"></span>
                </a>
                <span data-ng-if="page.title">{{ page.title }}</span>
                <span data-ng-if="!page.title">My Applications</span>
                <a data-ng-repeat="link in page.links" href="{{ link.url }}" class="{{ link.type }}">
                  <span class="hover-only {{ link.static }}">
                    <span data-ng-if="link.type === 'new'" class="icon retinaicon-essentials-047"></span>
                    {{ link.text }}
                  </span>
                </a>
              </h1>
            </div>
            <div class="col-sm-2 text-right">
              <ul class="nav account">
                <li><a href="/logout" class="logout">Logout</a></li>
                <li><a href="//api.commonscloud.org/user/profile" class="user"><img data-ng-if="$root.user.email" gravatar-src="'{{ $root.user.email }}'" gravatar-size="24" /></a></li>
              </ul>
            </div>
