//
// Brand Colors
//
$color-brand-blue-base: rgb(25,166,215);

$color-brand-white-base: rgb(252,252,252);
$color-brand-white-dark: rgb(225,225,225);

$color-brand-black-base: rgb(23,29,31);
$color-brand-black-lighter: rgb(33,39,41);
$color-brand-black-lightest: rgb(63,69,71);

$color-brand-green-base: rgb(64, 172, 24);

$color-brand-brown-lighter: rgb(229, 228, 224);
$color-brand-brown-lightest: rgb(244, 241, 236);

$color-brand-yellow-base: rgb(239, 255, 77);


$color-red-base: rgb(195, 7, 19);
$color-brightBlue: rgb(25,166,215);

//
// Brand Font Stack
//
$font-serif: Georgia, serif;
$font-sans: "pragmatica-web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
