//
// Main Form Element styles that change based on where in
// the application workflow they appear. Login forms operate
// differently than do forms to add new Templates and new
// Features within the application.
//
form {
  background-color: transparent;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}

form.form-inline {
  margin-bottom: 8px;
}

form.standalone-form {
    background-color: rgb(245,245,245);
    box-shadow: 0 .2em 0 darken(rgb(245,245,245), 10%);
    margin: 0;
    padding: 30px 40px;
}

form#login_user_form,
form#register_user_form {
  background-color: rgb(242,242,242);
  box-shadow: none;
  margin: 96px auto;
  max-width: 480px;
  padding: 48px;
}

.form-narrow {
  margin-bottom: 64px;
  margin-top: 64px;
  max-width: 660px;
}

.form-group {
  margin-bottom: 32px;
}

//
// Styling for the labels for our various forms
//
label,
label.control-label {
  color: rgb(153,153,153);
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
}

label.alt {
  font-weight: normal;
  letter-spacing: -0.025em;
  font-size: 16px;
  font-family: "DIN Next W01 Medium";
  color: rgb(88, 88, 88);
}

.helper.glyphicon {
  color: rgb(221, 221, 221);
  font-size: 48px;
}

.help-block {
  font-size: 12px;
  margin-bottom: 16px;
}

.non-label {
  margin-bottom: 4px;
  margin-top: 16px;
}

.button,
.button:hover {
  background-color: rgb(112, 179, 0);
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.025em;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: lighten(rgb(112, 179, 0), 2%);
}

.button:active {
  position:relative;
  top: 1px;
}

.button.button-default,
.button.button-default:hover {
  background-color: rgb(252,252,252);
  color: rgb(58,58,58);
}

.button.button-info,
.button.button-info:hover {
  background-color: rgb(25, 166, 215);
  color: rgb(252,252,252);
}

.button.button-link,
.button.button-link:hover {
  background-color: rgb(252,252,252);
  border-bottom: 2px solid rgb(252,252,252);
  box-shadow: none;
  color: rgb(64, 172, 24);
  margin: 10px 20px;
  padding: 0;
}

.button.button-link:hover {
  border-bottom: 2px solid rgb(64, 172, 24);
}

.button.button-cancel,
.button.button-cancel:hover {
    color: rgb(124,124,124);
    font-size: 1em;
    margin-top: 8px;
    text-decoration: underline;
}

.button.button-cancel:hover {
    text-decoration: none;
}

.button.small {
  font-size: 12px;
  padding: 2px 10px 3px;
}

.btn.btn-link {
  color: rgb(85,85,85);
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.btn {
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-link {
  text-decoration: underline;
}

.btn.btn-link:hover {
  text-decoration: none;
}

.checkbox {}

  .checkbox.inline {
    margin-top: 32px;
  }

  .table td.reorder {
    color: rgb(196,196,196);
    vertical-align: middle;
  }
  .table td.reorder:hover {
    color: rgb(64,64,64);
  }

.sidebar .button {
  display: block;
  margin: 16px auto 0;
}


.button.success {
    background-color: rgb(108,196,14);
    box-shadow: 0 0.2em 0 darken(rgb(108,196,14), 10%);
}
.button.success:active,
.button.success:focus {
    box-shadow: 0 0.1em 0 darken(rgb(108,196,14), 10%);
}

.button.danger {
  background-color: rgb(187, 17, 17);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgb(147, 17, 17);
}


select {
  height: 35px;
}

textarea {
  height: 34px;
  max-width: 100%;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: rgb(0, 130, 168);
  outline: none !important;
}

.form-control,
.form-control.input-lg,
select.form-control,
select.form-control.input-lg {
  background: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  font-size: 16px;
  font-weight: 300;
  height: 34px;
  line-height: 1.5;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.form-control {
  background: url(/images/Retina-Icons-v_1.0_Arrow7-16x8.png) no-repeat 98% 13px;
}

.form-control:focus {
  border-bottom-width: 1px;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
  border: 2px darken($color-brand-white-base, 10%) dashed;
  color: $color-brand-black-base;
  padding: 15px;
}
.drop.drag-over {
    background-color: $color-brand-blue-base;
    color: $color-brand-white-base;
}

.drop .btn {
  position: relative;
}

.drop .upload {
  color: darken($color-brand-white-base, 5%);
  display: block;
  font-size: 64px;
  line-height: 1.2;
}

.drop .label-dragdrop {
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  margin-top: 16px;
}

.drop .label-or {
  font-family: $font-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 10px;
}

.drop .btn input {
  height: 100%;
  left: 0;
  opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
  border: 0;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  word-break: normal;
}
.thumbnail img {
  max-width: 200px;
  max-height: 150px;
}

.upload-list {
    padding: 5px;
    margin: 7px;
    border-bottom: 1px solid darken($color-brand-white-base, 5%);
}

.upload-list .form-group {
  margin-bottom: 4px;
}

.upload-list label {
  font-size: 12px;
}


//
// Geocoder
//
.form-geocoder {

  .find-me .icon {
    display: block;
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
  }

  .address {
    border-bottom: 1px solid rgb(204, 204, 204);
  }

  .form-control {
    border-bottom: 0;
    width: 100%;
  }

  .button.button-link {
    margin: 10px 0 0;
  }
}
