//
// Main Form Element styles that change based on where in
// the application workflow they appear. Login forms operate
// differently than do forms to add new Templates and new
// Features within the application.
//
form {
  background-color: transparent;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}

form.standalone-form {
    background-color: rgb(245,245,245);
    box-shadow: 0 .2em 0 darken(rgb(245,245,245), 10%);
    margin: 0;
    padding: 30px 40px;
}

form#login_user_form,
form#register_user_form {
  background-color: rgb(242,242,242);
  box-shadow: none;
  margin: 96px auto;
  max-width: 480px;
  padding: 48px;
}

.form-narrow {
  margin-bottom: 64px;
  margin-top: 64px;
  max-width: 660px;
}


//
// Styling for the labels for our various forms
//
label,
label.control-label {
  font-size: 14px;
  font-weight: 500;
}

label.alt {
  font-weight: normal;
  letter-spacing: -0.025em;
  font-size: 16px;
  font-family: "DIN Next W01 Medium";
  color: rgb(88, 88, 88);
}

.helper.glyphicon {
  color: rgb(221, 221, 221);
  font-size: 48px;
}

.help-block {
  font-size: 12px;
  margin-bottom: 16px;
}

.non-label {
  margin-bottom: 4px;
  margin-top: 16px;
}

.button, .button:hover {
  background: rgb(64, 172, 24);
  background: -webkit-linear-gradient(rgb(64, 172, 24), darken(rgb(64, 172, 24), 8%));
  background: linear-gradient(rgb(64, 172, 24), darken(rgb(64, 172, 24), 8%));
  border: 1px solid darken(rgb(64, 172, 24), 12%);
  border-top-color: darken(rgb(64, 172, 24), 10%);
  border-bottom-color: darken(rgb(64, 172, 24), 16%);
  border-radius: 4px;
  color: rgb(255, 255, 255);

  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  font-style: normal;
  padding: 6px 24px 7px;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
}

.button:hover {
  background: rgb(64, 172, 24);
  background: -webkit-linear-gradient(rgb(64, 172, 24), darken(rgb(64, 172, 24), 4%));
  background: linear-gradient(rgb(64, 172, 24), darken(rgb(64, 172, 24), 4%));
}

.button:active {
  position:relative;
  top:1px;
}

.button-cancel,
.button-cancel:hover {
    color: rgb(124,124,124);
    font-size: 1em;
    margin-top: 8px;
    text-decoration: underline;
}

.button-cancel:hover {
    text-decoration: none;
}

.button.small {
  font-size: 12px;
  padding: 2px 10px 3px;
}

.checkbox {}

  .checkbox.inline {
    margin-top: 32px;
  }

  .table td.reorder {
    color: rgb(196,196,196);
    vertical-align: middle;
  }
  .table td.reorder:hover {
    color: rgb(64,64,64);
  }
  
.sidebar .button {
  display: block;
  margin: 16px auto 0;
}


.button.success {
    background-color: rgb(108,196,14);
    box-shadow: 0 0.2em 0 darken(rgb(108,196,14), 10%);
}
.button.success:active,
.button.success:focus {
    box-shadow: 0 0.1em 0 darken(rgb(108,196,14), 10%);
}

.button.danger {
  background-color: rgb(187, 17, 17);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgb(147, 17, 17);
}


select {
  height: 35px;
}

textarea {
  max-width: 100%;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: rgb(0, 130, 168);
  outline: none !important;
}

.form-control,
.form-control.input-lg {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
  border: 2px darken($color-brand-white-base, 10%) dashed;
  color: $color-brand-black-base;
  padding: 15px;
}
.drop.drag-over {
    background-color: $color-brand-blue-base;
    color: $color-brand-white-base;
}

.drop .btn {
  position: relative;
}

.drop .upload {
  color: darken($color-brand-white-base, 5%);
  display: block;
  font-size: 64px;
  line-height: 1.2;
}

.drop .label-dragdrop {
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
  margin-top: 16px;
}

.drop .label-or {
  font-family: $font-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 10px;
}

.drop .btn input {
  height: 100%;
  left: 0;
  opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
  border: 0;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  word-break: normal;
}
.thumbnail img {
  max-width: 200px;
  max-height: 150px;
}

.upload-list {
    padding: 5px;
    margin: 7px;
    border-bottom: 1px solid darken($color-brand-white-base, 5%);
}

.upload-list .form-group {
  margin-bottom: 4px;
}

.upload-list label {
  font-size: 12px;
}

