//
// Application List
//
.application {
  background-color: $color-brand-white-base;
  border-bottom: 1px solid darken($color-brand-white-base, 8%);
  color: $color-brand-black-lighter;
  margin: 0;
  padding: 0;
}

  .application p {
    max-width: 660px;
  }

  header.application {
    background-color: $color-brand-blue-base;
    border: 0;
    color: $color-brand-white-base;
    padding: 32px 16px;
  }

  header.application h1 {
    text-shadow: 1px 1px 2px darken($color-brand-blue-base, 4%);
  }

  header.application a {
    color: $color-brand-white-base;
  }

  header.application a:hover {
    color: darken($color-brand-white-base, 4%);
  }

  header.application a .glyphicon {
    cursor: pointer;
    font-size: 16px;
  }

  header.application .form-control,
  header.application .form-control.input-lg {
    background-color: transparent;
    color: $color-brand-white-base;
    border: 0;
    border-bottom: 1px dashed $color-brand-white-base;
    box-shadow: none;
    margin: 0 0 16px;
    max-width: 660px;
    padding: 0;
    width: 100%;
  }

  header.application .form-control.input-lg {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.0125em;
    line-height: 1;
  }

  .application.single {
    padding: 32px 16px;
  }

  .application.single.template-nested {
    padding-top: 16px;
  }

  .application.single.template-nested > .row:first-child {
    border-bottom: 1px solid $color-brand-brown-lightest;
    margin-bottom: 32px;
    padding-bottom: 12px;

    h1 {
      margin-top: 8px;
    }
  }

  .delete {
    border-top: 1px solid darken($color-brand-white-base, 4%);
    padding: 32px 16px 24px;

    p {
      max-width: 100%;
    }

    a,
    a:hover {
      color: rgb(255,64,64);
      cursor: pointer;
    }
  }

  .application.new {
    background-color: $color-brand-blue-base;
    border: 0;
    color: $color-brand-white-base;
    padding: 0;
  }

  .application .placeholder {
    color: $color-brand-white-base;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 0.0125em;
    line-height: 1;
    margin: 0;
    padding: 32px 16px;

    .glyphicon {
      font-size: 14px;
      top: -2px;
    }
  }

  .application-content {
    background-color: $color-brand-white-base;
    padding: 32px 16px;
  }

  .application-settings p {
    padding-top: 32px;
    text-align: right;
  }

  .application-settings a {
    color: lighten($color-brand-black-lightest, 20%);
    font-size: 24px;
    text-decoration: none;
  }

  .application-settings a:hover {
    color: lighten($color-brand-black-lightest, 10%);
    text-decoration: none;
  }

  .application.new,
  header.application {
    ::-webkit-input-placeholder {
      color: lighten(desaturate($color-brand-blue-base, 10%), 15%);
    }
    :-moz-placeholder {
      color: $color-brand-white-base;
    }
    ::-moz-placeholder {
      color: $color-brand-white-base;
    }
    :-ms-input-placeholder {
      color: $color-brand-white-base;
    }
  }

  .application.new form {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .form-group {
      margin-bottom: 0;
    }

    input:active,
    input:focus {
      box-shadow: none;
    }

    //
    // Application Name Input
    //
    input.form-control,
    input.form-control.input-lg {
      background-color: transparent;
      color: $color-brand-white-base;
      border: 0;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      font-size: 24px;
      letter-spacing: 0.0125em;
      line-height: 1;
      padding: 42px 32px;
    }

    input.form-control:hover {
      background-color: darken($color-brand-blue-base, 4%);
    }

    //
    // Application Save button
    //
    .submit {
      background-color: $color-brand-green-base;
    }
    .submit input {
      background: transparent;
      border: 0;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.0125em;
      padding: 32px 16px;
      width: 100%;
    }
    .submit input:hover {
      background-color: darken($color-brand-green-base, 4%);
    }
    .submit input:active,
    .submit input:focus {
      background-color: darken($color-brand-green-base, 6%);
    }
  }

.template {
  background-color: $color-brand-white-base;
  border-bottom: 1px solid darken($color-brand-white-base, 8%);
  color: $color-brand-black-base;
  margin: 0 0 48px;
  padding: 30px 40px;
}

.template-instance {
  background: rgb(220, 220, 220);
  margin: 0 0 16px;
  padding: 8px 0 0;
}

.pending-moderation-true {
  color: rgb(244,202,0);
}

.services {
  color: rgb(172,172,172)
}
  .services .service {
    margin-right: 6px;
  }
  .service.highlight {
    color: rgb(244,202,0);
  }

.new.template{
  text-align: center;
}

.new.template .button {
  margin-top: 85px;
}

.table-viewer .table-scroller {
  overflow: scroll;
}
.table-viewer .table th:first-child {
  min-width: 60px;  
}
.table-viewer .table td:first-child .edit {
  visibility: hidden;
}

.table-viewer .table tr:hover > td:first-child .edit {
  visibility: visible;
}

.table-viewer .table th {
  min-width: 160px;
}

.pending-submissions-wrapper {
  position: absolute;
  top: -4px;
  right: -4px;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.pending-submissions {
  background: rgb(255, 215, 0);
  display: block;
  height: 80px;
  overflow: hidden;
  padding: 42px 26px 0 0;
  position: absolute;
  right: -80px;
  top: -16px;
  width: 180px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pending-submissions .moderation-count {
  color: rgb(252, 252, 252);
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin-left: 4px;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-shadow: 0 0 4px rgb(242,177,0);
  width: 30px;
}

.tooltip.bottom {
  margin-top: 8px;
}

.tooltip-inner {
  background-color: rgb(64,64,64);
  padding: 8px;
  
}


/**
 * Sidebar navigation
 */
.nav.sidebar {
}

.sidebar .nav > li {
}

.sidebar .nav > li > a {
  background-color: transparent;
  border-radius: 5px;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: darken(rgb(33,39,41), 10%);
  color: lighten(rgb(30, 190, 195), 10%);
}


.sidebar .nav > li.active > a {
  background-color: rgb(242,242,242);
}


/**
 * Field Builder
 */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable .form-control[disabled],
.unselectable .form-control[readonly],
.unselectable fieldset[disabled] .form-control,
.unselectable input,
.unselectable select,
.unselectable textarea {
  background-color: rgb(255,255,255);
  cursor: pointer;
}

.field-control {
  margin-top: 32px;
}



/**
 * Collaborators Page
 */
.collaborators .checkbox {
  -webkit-appearance: none;
  color:  red;
  top: -4px;
  font-size: 16px;
}

.collaborators input.checkbox:hover {
}

.collaborators input.checkbox[checked="checked"] {
  color: green;
}

.collaborators td {
  text-align: center;
  vertical-align: middle;
}
