//
// Typefaces
//
$font-serif: Georgia, serif;
$font-sans: "Helvetica Neue", "Helvetica", Helvetica, "Helvetica W01 Roman", Arial, sans-serif;



body {
  font-family: $font-sans;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 16px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 1;
  margin-bottom: 16px;
}

  h1 a,
  h1 a:hover {
    color: rgb(64,64,64);
    text-decoration: none;
  }
  
  h1 a .glyphicon {
    color: rgb(64, 172, 24);
    display: none;
    font-size: 14px;
    top: -1px;
  }

  h1 a:hover .glyphicon {
    display: inline-block;
  }


h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

h3 {
  font-size: 48px;
  font-weight: 700;
}

h3 .stat-label {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: lowercase;
}

h5, p, li, main {
  font-size: 14px;
}

a {
  color: $color-brand-blue-base;
  text-decoration: none;
}

a:hover {
  color: darken($color-brand-blue-base, 5%);
  text-decoration: underline;
}

.inline-label {
    font-weight: 500;
}

.sidebar hr {
  border: 0;
  border-top: 1px solid $color-brand-black-base;
}

.sidebar p.heading {
  color: rgb(79, 94, 99);
  text-transform: uppercase;
  font-size: 11px;
}


/**
 * Brand & Breadcrumb Navigation
 */
.brand {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.breadcrumb-container {
  padding-left: 0;
} 

.breadcrumb,
.account.nav {
  background-color: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.breadcrumb > li,
.account.nav > li {
  font-size: 16px;
  vertical-align: middle;
}

.account.nav > li {
  display: inline;
  display: inline-block;
}

.breadcrumb > li > a,
.account.nav > li > a {
  color: $color-brand-brown-lighter;
}

.brand,
.breadcrumb > li.front-page,
.user,
.notifications {
  font-size: 24px;
  padding: 8px 16px;
}

.breadcrumb > li.active,
.account.nav > li.active {
  font-weight: bold;
}

.breadcrumb > li + li:before,
.account.nav > li + li:before {
  color: rgb(221,221,221);
}


/**
 * Tables
 */
table {}
    
    th {
        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
    }
    
    .nav.stacked {
        margin:40px 20px;
    }
    .nav.stacked li {
            border-top: 2px solid darken(rgb(13,160,198),3%);
            display: block;
            float: left;
            clear: left;
            width: 240px;
    }
    .nav.stacked li a:hover {
        border-bottom: 0;
    }


/**
 * Lists
 */
.sortable {
  padding-left: 0;
}

.sortable li {
  list-style: none;
}

.sortable .ui-state-highlight {
  background-color: rgb(255,255,55);
  height: 108px;
}

tr.ui-sortable-helper td {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


/**
 * Dropdown
 */
.site-navigation {
  border: 0;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  top: -10px;
  left: -20px;
  min-width: 50px;
}

.site-navigation > li {
  text-align:center;
}

.site-navigation > li > a {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  clear: both;
  color: rgb(51, 51, 51);
  display: block;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.428571429;
  margin: 0 4px;
  padding: 0;
  white-space: nowrap;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  background-color: rgb(66, 139, 202);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.dropdown-menu {
  display: block;
}