//
// Import Dependencies
//

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "/bower_components/leaflet-dist/leaflet.css";

@import "_base";
@import "_typography";
@import "_forms";
@import "_content";
@import "_respond@767";


//
// Bootstrap Overrides
//
.alerts {
  padding-top: 32px;
}

.alert {
  border-width: 0;
  border-bottom-width: 4px;
  border-radius: 0;
  font-size: 13px;
}

.alert-error{
    background-color:#f2dede;
    border-color:#eed3d7;
    color:#b94a48;
}

.alert-error .alert-link{
    color:#953b39;
}

.glyphicon {
    top: 2px;
}


//
// Utilities
//
.element-invisible {
    display: none;
}

.element-hidden {
    visibility: hidden;
}

@mixin cross-platform-border-radius($corner-radius) {
  border-radius: $corner-radius;
  -moz-border-radius: $corner-radius;
  -webkit-border-radius: $corner-radius;
}


//
// Animations
//
.page-content.ng-hide-add,
.page-content.ng-hide-remove,
.alerts.ng-hide-add,
.alerts.ng-hide-remove {
  -webkit-transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
  transition:all linear 0.1s;
  display:block!important;
}
 
.page-content.ng-hide-add.ng-hide-add-active,
.page-content.ng-hide-remove,
.alerts.ng-hide-add.ng-hide-add-active,
.alerts.ng-hide-remove {
  opacity:0;
}
 
.page-content.ng-hide-add,
.page-content.ng-hide-remove.ng-hide-remove-active,
.alerts.ng-hide-add,
.alerts.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}