          <!-- Page Content -->
          <article data-ng-repeat="application in applications | orderBy:'name'" class="application row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 application-content">
              <h1><a href="/applications/{{ application.id }}">{{ application.name }}</a></h1>
              <p data-ng-show="application.description">{{ application.description }}</p>
              <p data-ng-show="application.url" class="application-url"><a href="{{ application.url }}" target="_blank"><span class="icon retinaicon-essentials-039"></span> <span class="text">{{ application.url }}</span></a></p>
            </div>
          </article>
