<header class="site-header"></header>

<main class="site-content">

    <h1>Welcome</h1>

    <div class="container">
        <div class="row" data-ng-repeat="application in applications" data-ng-if="application.status">
            <div class="col-sm-12">
                <p>{{ application.name }} <a data-ng-if="application.url" href="{{ application.url }}" target="_blank" title="Visit the {{ application.name }} website"><span class="glyphicon glyphicon-link"></span></a></p>
            </div>
        </div>
    </div>
    
</main>

<footer class="site-footer"></footer>