          <article class="application single">
            <div class="row">
              <div class="col-sm-6">
                <form method="POST" data-ng-if="feature">
                  <fieldset>
                    <div class="form-group" data-ng-repeat="field in fields | orderBy:'id'">
                      <div data-ng-if="field.data_type === 'boolean'" class="checkbox">
                        <label>
                          <input data-ng-model="feature[field.name]" type="checkbox" id="{{ field.name }}" name="{{ field.name }}" /> {{ field.label }}
                        </label>
                      </div>
                      <label data-ng-if="field.data_type !== 'boolean'" for="{{ field.name }}" class="control-label"><span data-ng-show="feature[field.name] || field.data_type === 'relationship' || field.data_type === 'date' || field.data_type === 'time' || field.data_type === 'list'">{{ field.label }}</span><span data-ng-show="!feature[field.name].length">&nbsp;</span></label>

                      <relationship model="feature[field.relationship]" field="field" table="field.relationship" fields="['name']" feature="feature" data-ng-if="field.data_type === 'relationship'"></relationship>

                      <select data-ng-if="field.data_type === 'list'" class="form-control" data-ng-model="feature[field.name]" id="{{ field.name }}" name="{{ field.name }}" data-ng-options="value for value in field.options">
                      </select>

                      <input data-ng-model="feature[field.name]" data-ng-if="field.data_type === 'email'" class="form-control" type="email" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" />
                      <input data-ng-model="feature[field.name]" data-ng-if="field.data_type === 'url'" class="form-control" type="url" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" />
                      <input data-ng-model="feature[field.name]" data-ng-if="field.data_type === 'phone'" class="form-control" type="tel" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" />
                      <input data-ng-model="feature[field.name]" data-ng-if="field.data_type === 'date'" class="form-control" class="form-control" type="date" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" />
                      <input data-ng-model="feature[field.name]" data-ng-if="field.data_type === 'time'" class="form-control" type="time" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" />
                      <input data-ng-model="feature[field.name]" data-ng-if="field.data_type === 'whole_number' || field.data_type === 'float'" class="form-control" type="number" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" step="any" />

                      <textarea rows="1" data-ng-show="show" data-ng-init="show = true" data-ng-model="feature[field.name]" class="form-control animate"  msd-elastic data-ng-if="field.data_type === 'textarea' || field.data_type === 'text'" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}">{{ feature[field.name] }}</textarea>
                      <!-- <div data-ng-if="field.data_type === 'relationship'">
                        <select multiple="" data-ng-model="feature[field.relationship]" class="form-control" id="{{ field.relationship }}" name="{{ field.relationship }}" data-ng-options="value_.id as value_.name for value_ in field.values">
                          <option value="">-- Choose {{ field.label }} --</option>
                        </select>
                      </div> -->

                      <div data-ng-if="field.data_type === 'file'">
                        <div class="drop text-center" data-ng-file-drop="onFileSelect($files, field.relationship)" data-ng-file-drag-over-class="drag-over">
                          <span class="glyphicon glyphicon-cloud-upload upload"></span>
                          <p class="label-dragdrop">Drag and drop your files here</p>
                          <p class="label-or"><em>or</em></p>
                          <span class="btn btn-default">Choose files to upload <input type="file" data-ng-file-select="onFileSelect($files, field.relationship)" multiple="multiple" /></span>
                        </div>
<!--                         <h2>Field</h2>
                        <code><pre>{{ feature[field.relationship] }}</pre></code>
                        <h2>Loop</h2>
                        <code data-ng-repeat="file in feature[field.relationship]"><pre>
                          {{ file }}
                        </pre></code>
 -->
                        <div class="row upload-list" data-ng-repeat="file in feature[field.relationship] track by $index">
                          <div class="col-xs-12 thumbnail text-center">
                            <img data-ng-if="file.file.preview" data-ng-src="{{ file.file.preview }}" />
                            <a href="http://{{ file.filepath }}" target="_blank"><img data-ng-if="file.filepath" data-ng-src="http://{{ file.filepath }}" /></a>
                            <p class="help-block"><small data-ng-if="file.file.name">{{ file.file.name }}</small><small  data-ng-if="file.filename">{{ file.filename }}</small></p>
                            <a class="btn btn-xs btn-danger" data-ng-click="remove_confirmation=true;" data-ng-show="!remove_confirmation">Remove</a>
                            <span data-ng-show="remove_confirmation"><a class="btn btn-xs btn-link" data-ng-click="remove_confirmation=false;">Nevermind</a> <em>or</em> <a class="btn btn-xs btn-danger" data-ng-click="remove_confirmation=false;DeleteAttachment(file, $index, field.relationship)">Permanently remove</a></span>
                          </div>
                        </div>
                      </div>
                      <p class="help-block">{{ field.help }}</p>
                    </div>
                  </fieldset>

                  <div class="form-group">
                    <label for="status">Feature Status</label>
                    <select class="form-control" data-ng-model="feature.status" id="status" name="status" required="required">
                      <option selected="selected" value="">--Choose a status--</option>
                      <option value="draft">Draft</option>
                      <option value="crowd">Crowd Sourced</option>
                      <option value="private">Private</option>
                      <option value="public">Public</option>
                    </select>
                    <br />
                    <a class="btn btn-link" data-ng-click="remove_feature_confirmation=true" data-ng-show="!remove_feature_confirmation">Remove this feature</a>
                    <span data-ng-show="remove_feature_confirmation"><a class="btn btn-xs btn-link" data-ng-click="remove_feature_confirmation=false;">Nevermind</a> <em>or</em> <a class="btn btn-xs btn-danger" data-ng-click="DeleteFeature(feature)">Permanently remove</a></span>
                    <input type="submit" id="update" name="update" data-ng-click="UpdateFeature()" class="button pull-right" value="Update Feature" />
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form method="POST" class="form-inline form-geocoder" role="form">
                  <div class="row">
                    <div class="col-xs-1 find-me">
                      <a class="icon retinaicon-essentials-161" href="javascript:void(0)" data-ng-click="getCurrentLocation()"></a>
                    </div>
                    <div class="col-xs-10 address">
                      <input type="text" id="geocoder" name="geocoder" class="form-control" data-ng-model="search.address" data-ng-change="initGeocoder()" placeholder="Search for address"/>
                      <div data-ng-if="geocode_features.length && geocoder.length >= 3" class="dropdown">
                        <ul>
                          <!-- <li data-ng-if="relationship_focus && !features.length"><p><em>Begin typing to select the {{ field.label }} you want</em></p></li> -->
                          <li data-ng-repeat="possible_result in geocode_features"><a href="#" data-ng-click="centerMapOnGeocode(possible_result)">{{ possible_result.place_name }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </form>
                <leaflet defaults="defaults" controls="controls" width="100%" height="425"></leaflet>
                <a href="javascript:void(0)" data-ng-click="ShowGeoJSONEditor=!ShowGeoJSONEditor">Show GeoJSON Editor</a>
                <textarea data-ng-model="feature.geometry" class="form-control" data-ng-if="ShowGeoJSONEditor" id="geometry" name="geometry"></textarea>
              </div>
            </div>
          </article>
