          <article class="application single">
            <div class="row">
              <div class="col-sm-12">
                <div class="row toolbox">
                  <div class="col-sm-8">
                    <ul class="batch">
                      <li>
                        <a href="javascript:void(0)" data-ng-click="batch.selectAll()" class="btn btn-default" title="Select all features">
                          <input type="checkbox" id="selectall" name="selectall" data-ng-model="selectall" />
                        </a>
                        <a class="btn btn-default" data-ng-click="page.refresh()" title="Refresh features list">
                          <span class="icon retinaicon-essentials-029"></span>
                        </a>
                        <a title="Delete all selected features" class="btn btn-default" data-ng-click="remove_features_confirmation=true" data-ng-show="!remove_features_confirmation && (batch.functions || batch.selected)">
                          <span class="icon retinaicon-essentials-142"></span>
                        </a>
                        <span data-ng-show="remove_features_confirmation">
                          <a class="btn btn-xs btn-link" data-ng-click="remove_features_confirmation=false;">Nevermind</a>
                           <em>or</em> <a class="btn btn-xs btn-danger" data-ng-click="batch.delete()">Permanently remove selected features?</a>
                        </span>
<!--                         <a class="btn btn-default" data-ng-click="batch.search =! batch.search" title="Refresh features list">
                          <span class="icon retinaicon-essentials-063"></span>
                        </a>
 -->                      </li>
                    </ul>

                    <form class="filter" method="POST" role="search">
                      <input type="hidden" data-ng-model="filters.page" />
                      <input type="hidden" data-ng-model="filters.results_per_page" />
                      <input type="hidden" data-ng-model="filters.callback" />

                      <div class="row">
                        <div class="col-sm-4">
                          <label class="control-label filter-label"><span class="icon retinaicon-essentials-063"></span> Filter by</label>
                        </div>
                        <div class="col-sm-8">
                          <div data-ng-if="filter.active" class="filter-group row" data-ng-repeat="filter in filters.available track by $index">
                              <div class="column-flex">
                                <label class="control-label filter-label">{{ filters.available[$index].label }}</label>
                              </div>
                              <div class="column-10">
                              <!-- Text Field -->
                              <div data-ng-if="filters.available[$index].type === 'text'">
                                <input class="filter-control" type="text" data-ng-model="filters.available[$index].filter[0].value" data-ng-change="search.features()" autofocus="autofocus" />
                              </div>

                              <!-- Numeric Field -->
                              <div class="row" data-ng-if="filters.available[$index].type === 'number'">
                                <div class="column-8">
                                  <input class="filter-control" type="number" data-ng-model="filters.available[$index].filter[0].value" data-ng-change="search.features()" autofocus="autofocus" />
                                  <p class="help-text">Minimum</p>
                                </div>

                                <div class="column-8">
                                  <input class="filter-control" type="number" data-ng-model="filters.available[$index].filter[1].value" data-ng-change="search.features()" autofocus="autofocus" />
                                  <p class="help-text">Maximum</p>
                                </div>
                              </div>

                              <!-- Date Field -->
                              <div class="row" data-ng-if="filters.available[$index].type === 'date'">
                                <div class="column-8">
                                  <input class="filter-control" type="date" data-ng-model="filters.available[$index].filter[0].value" data-ng-change="search.features()" autofocus="autofocus" />
                                  <p class="help-text">Minimum</p>
                                </div>

                                <div class="column-8">                  
                                  <input class="filter-control" type="date" data-ng-model="filters.available[$index].filter[1].value" data-ng-change="search.features()" autofocus="autofocus" />
                                  <p class="help-text">Maximum</p>
                                </div>
                              </div>
                            </div>
                            <div class="column-2">
                              <a class="filter-action" data-ng-click="filters.remove($index)">Remove</a>
                            </div>
                          </div>
                          <div class="filter-group filter-group-readonly row">
                            <div class="column-flex">
                              <label class="control-label filter-label">Add Filter</label>
                            </div>
                            <div class="column-flex">
                              <select class="filter-control" data-ng-model="filters.available[$index]" data-ng-change="filters.select($index)" data-ng-options="filter.label for filter in filters.available">
                                <option value="">Pick a filter</option>
                              </select>                                      
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-4">
                    <ul class="pager pull-right">
                      <li class="pull-left">
                        <span data-ng-if="features.properties.total_features === 0">No results</span>
                        <span data-ng-if="features.properties.total_features <= 25 && features.properties.total_features !== 0">1-{{ features.properties.total_features }} of {{ features.properties.total_features }}</span>
                        <span data-ng-if="features.properties.current_page === 1 && features.properties.total_features > 25">1-25 of {{ features.properties.total_features | number }}</span>
                        <span data-ng-if="features.properties.current_page && features.properties.current_page > 1">{{ (features.properties.current_page*features.properties.features_per_page)-features.properties.features_per_page | number }}-{{ (features.properties.current_page*features.properties.features_per_page) | number }} of {{ features.properties.total_features | number }}</span>
                      </li>
                      <li data-ng-if="features.properties.current_page !== features.properties.total_pages && features.properties.total_features !== 0" class="next pull-right"><a title="Older" data-ng-click="search.paginate(features.properties.current_page+1)"><div class="icon retinaicon-retina-icons-v-1-5"></div></a></li>
                      <li data-ng-if="features.properties.current_page !== 1" class="previous pull-right"><a title="Newer" data-ng-click="search.paginate(features.properties.current_page-1)"><div class="icon retinaicon-retina-icons-v-1-4"></div></a></li>
                    </ul>
                  </div>
                </div>

                <form method="POST" class="form">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="batch">&nbsp;</th>
                        <th class="edit">&nbsp;</th>
                        <th data-ng-repeat="field in fields" data-ng-if="field.is_listed && (field.data_type === 'text' || field.data_type === 'date' || field.data_type === 'whole_number' || field.data_type === 'float')">
                          {{ field.label }}
                        </th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Last Modified</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="feature in features.response.features track by $index">
                        <td>
                          <input data-ng-checked="features.response.features[$index].batch" data-ng-click="features.response.features[$index].batch = !features.response.features[$index].batch; batch.checkSelections();" type="checkbox" class="checkbox" id="batch[{{ feature.id }}]" name="feature[{{ feature.id }}]" />
                        </td>
                        <td><a href="/applications/{{ application.id }}/collections/{{ template.id }}/features/{{ feature.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td data-ng-repeat="field in fields" data-ng-if="field.is_listed && (field.data_type === 'text' || field.data_type === 'date' || field.data_type === 'whole_number' || field.data_type === 'float')">
                          <span data-ng-if="field.data_type === 'date'">{{ feature[field.name] | date : 'MMMM d, y @ h:mm a' }}</span>
                          <span data-ng-if="field.data_type !== 'date'">{{ feature[field.name] }}</span>
                        </td>
                        <td>{{ feature.status }}</td>
                        <td>{{ feature.created | date : 'MMMM d, y @ h:mm a' }}</td>
                        <td>{{ feature.updated | date : 'MMMM d, y @ h:mm a' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </article>