<div class="row">

  <section data-ng-show="!loading" class="col-xs-12 col-sm-12 page-content">
    <header>
      <div class="row">
        <div class="col-sm-10">
          <ol class="breadcrumb">
            <li class="front-page"><a title="Return to your dashboard" target="_self" class="sidebar-toggle"><span class="glyphicon glyphicon-cloud"></span></a></li>
            <li><a href="/applications" title="">Applications</a></li>
            <li><a href="/applications/{{ application.id }}" title="">{{ application.name }}</a></li>
            <li><a href="/applications/{{ application.id }}/templates" title="">Templates</a></li>
            <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}" title="">{{ template.name }}</a></li>
            <li class="active"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/fields" title="">Fields</a></li>
          </ol>
        </div>
        <div class="col-sm-2 text-right">
          <ul class="nav account">
            <li><a href="" class="notifications"><span class="glyphicon glyphicon-bell"></span></a></li>
            <li><a href="//api.commonscloud.org/user/profile" class="user"><img data-ng-if="user.email" gravatar-src="'{{ user.email }}'" gravatar-size="24" /></a></li>
          </ul>
        </div>
      </div>
    </header>

    <div data-ng-show="!loading" class="inner wide">
      <div class="row">
        <div class="col-xs-12">  
          <header class="application">
            <div class="row">
              <div class="col-sm-11">
                <div data-ng-show="!EditApplication">
                  <h1 class="short">{{ application.name }}</h1>
                </div>
                <div data-ng-show="EditApplication">
                  <form method="PATCH">
                    <input type="text" id="name" name="name" class="form-control input-lg" data-ng-model="application.name" value="{{ application.name }}" />
                    <textarea rows="6" id="description" name="description" class="form-control" data-ng-model="application.description" placeholder="Description">{{ application.description }}</textarea>
                    <input type="url" id="url" name="url" class="form-control" data-ng-model="application.url" placeholder="Website" value="{{ application.url }}" />
                    <input type="submit" data-ng-click="UpdateApplication(application)" class="button" value="Save Changes" />
                  </form>
                </div>
              </div>
              <div class="col-xs-1 text-right">
                <a data-ng-show="!EditApplication" data-ng-click="EditApplication=!EditApplication"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-ng-show="EditApplication" data-ng-click="EditApplication=!EditApplication"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </div>
          </header>

          <nav class="application-navigation navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/applications/{{ application.id }}/templates">Templates</a></li>
              <li><a href="/applications/{{ application.id }}/collaborators">Collaborators</a></li>
            </ul>
          </nav>

          <article class="application single template-nested">
            <div class="row">
              <div class="col-sm-5">
                <h1>{{ template.name }}</h1>
              </div>
              <div class="col-sm-7">
                <ul class="nav nav-pills pull-right">
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features">Features</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/statistics">Statistics</a></li>
                  <li class="active"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/fields">Fields</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/developers">Developers</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <form class="unselectable">
                  <fieldset>
                  <legend>Form Preview</legend>
                    <div class="form-group" data-ng-repeat="field in fields | orderBy:'id'" data-ng-click="ActionEditField(field)">
                      <div data-ng-if="field.data_type === 'boolean'" class="checkbox">
                        <label>
                          <input disabled="disabled" type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="" checked="checked" /> {{ field.label }}
                        </label>
                      </div>
                      <label data-ng-if="field.data_type !== 'boolean'" for="{{ field.name }}" class="control-label">{{ field.label }}</label>

                      <input disabled="disabled" data-ng-if="field.data_type === 'text'" class="form-control" type="text" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'email'" class="form-control" type="email" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'url'" class="form-control" type="url" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'phone'" class="form-control" type="tel" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'date'" class="form-control" class="form-control" type="date" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'time'" class="form-control" type="time" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'file'" class="form-control" type="file" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'whole_number' || field.data_type === 'float'" class="form-control" type="number" id="{{ field.name }}" name="{{ field.name }}" value="" />

                      <textarea disabled="disabled" class="form-control" data-ng-if="field.data_type === 'textarea'" id="{{ field.name }}" name="{{ field.name }}"></textarea>

                      <select disabled="disabled" class="form-control" data-ng-if="field.data_type === 'relationship'" id="{{ field.name }}" name="{{ field.name }}"></select>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="col-sm-6 col-sm-offset-1">
                <form method="POST">
                  <fieldset data-ng-show="FieldEdit;">
                    <legend>Edit a new field</legend>
                    <div class="form-group">
                      <label for="label" class="control-label">Label</label>
                      <input data-ng-model="editField.label" type="text" id="label" name="label" class="form-control" value="" />
                      <p class="help-block">The label that appears above or near the form field to help user identify how to complete your form.</p>
                    </div>
                    <div class="form-group">
                      <label for="help" class="control-label">Help Text</label>
                      <input data-ng-model="editField.help" type="text" id="help" name="help" class="form-control" value="" />
                      <p class="help-block">Sometimes a one or two word label just isn't enough, help text is displayed below the field to give users just a bit more help (the sentence you're reading is help text).</p>
                    </div>
                    <hr />
                    <div class="form-group">
                      <label for="data_type" class="control-label">Data Type</label>
                      <select disabled="disabled" data-ng-model="editField.data_type" id="data_type" name="data_type" class="form-control">
                        <optgroup label="Numeric">
                          <option value="float">Float/Decimal</option>
                          <option value="whole_number">Whole Number</option>
                        </optgroup>

                        <optgroup label="Text">
                          <option value="text">Single Line Text</option>
                          <option value="textarea">Multi-Line Text</option>
                          <option value="email">Email</option>
                          <option value="phone">Telephone</option>
                          <option value="url">URL</option>
                        </optgroup>

                        <optgroup label="Date &amp; Time">
                          <option value="date">Date</option>
                          <option value="time">Time</option>
                        </optgroup>

                        <optgroup label="Special">
                          <option value="relationship">Relationship</option>
                          <option value="file">File Attachment</option>
                          <option value="boolean">Boolean</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group" data-ng-show="editField.data_type === 'relationship'">
                      <label for="relationship" class="control-label">Relationship</label>
                      <select disabled="disabled" data-ng-model="editField.relationship" id="relationship" name="relationship" class="form-control" data-ng-options="template_.storage as template_.name for template_ in templates"></select>
                      <p class="help-block">The other Feature Collection you would like to relate this Feature with, for example an enumeration of other values</p>
                    </div>
                    <div class="form-group" data-ng-show="editField.data_type === 'float' || editField.data_type === 'whole_number'">
                      <label for="options" class="control-label">Values</label>
                      <div class="row">
                        <div class="col-sm-6">
                          <input data-ng-model="editField.options.minimum" type="text" id="options_minimum" name="options_minimum" class="form-control" />
                          <p class="help-block">Minimum</p>
                        </div>
                        <div class="col-sm-6">
                          <input data-ng-model="editField.options.maximum" type="text" id="options_maximum" name="options_maximum" class="form-control" />
                          <p class="help-block">Maximum</p>
                        </div>
                      </div>                      
                    </div>

                    <div class="form-group" data-ng-show="newField.data_type === 'file'">
                      <label for="options" class="control-label">Values</label>
                      <input data-ng-model="editField.options.allowed_extensions" type="text" id="options" name="options" class="form-control" />
                      <p class="help-block">A comma separated list of values representing file extensions allowed by this field, include a dot and lower case values only (i.e., .doc, .pdf, .jpg)</p>
                    </div>
                    <hr />
                    <div class="form-group">
                      <div class="checkbox">
                        <label for="is_required" class="control-label">
                          <input data-ng-model="editField.is_required" id="is_required" name="is_required" type="checkbox" /> <strong>Required</strong>
                        </label>
                        <p class="help-block">If marked as required, the user will be forced to enter a value or not be allowed to submit the form.</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label for="is_listed" class="control-label">
                          <input data-ng-model="editField.is_listed" id="is_listed" name="is_listed" type="checkbox" /> <strong>Listed</strong>
                        </label>
                        <p class="help-block">If checked, this field will be displayed in Feature Collections or Lists of Features, for performance reasons we advise not displaying all fields with Feature Collections.</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label for="is_searchable" class="control-label">
                          <input data-ng-model="editField.is_searchable" id="is_searchable" name="is_searchable" type="checkbox" /> <strong>Searchable</strong>
                        </label>
                        <p class="help-block">If checked, this field will be marked as searchable, this is primarily for use in user interfaces and does not enforce any system level rules.</p>
                      </div>
                    </div>
                    <div class="form-group delete">
                      <a data-ng-click="DeleteField(editField)">Delete Field</a>
                      <input data-ng-click="UpdateField()" id="update" name="update" type="submit" class="button pull-right" value="Update Field" />
                    </div>
                  </fieldset>
                  <fieldset data-ng-show="FieldAdd;!FieldEdit;">
                    <legend>Add a new field</legend>
                    <div class="form-group">
                      <label for="label" class="control-label">Label</label>
                      <input data-ng-model="newField.name" type="text" id="label" name="label" class="form-control" value="" />
                      <p class="help-block">The label that appears above or near the form field to help user identify how to complete your form.</p>
                    </div>
                    <div class="form-group">
                      <label for="help" class="control-label">Help Text</label>
                      <input data-ng-model="newField.help" type="text" id="help" name="help" class="form-control" value="" />
                      <p class="help-block">Sometimes a one or two word label just isn't enough, help text is displayed below the field to give users just a bit more help (the sentence you're reading is help text).</p>
                    </div>
                    <hr />
                    <div class="form-group">
                      <label for="data_type" class="control-label">Data Type</label>
                      <select data-ng-model="newField.data_type" id="data_type" name="data_type" class="form-control">
                        <optgroup label="Numeric">
                          <option value="float">Float/Decimal</option>
                          <option value="whole_number">Whole Number</option>
                        </optgroup>

                        <optgroup label="Text">
                          <option value="text">Single Line Text</option>
                          <option value="textarea">Multi-Line Text</option>
                          <option value="email">Email</option>
                          <option value="phone">Telephone</option>
                          <option value="url">URL</option>
                        </optgroup>

                        <optgroup label="Date &amp; Time">
                          <option value="date">Date</option>
                          <option value="time">Time</option>
                        </optgroup>

                        <optgroup label="Special">
                          <option value="relationship">Relationship</option>
                          <option value="file">File Attachment</option>
                          <option value="boolean">Boolean</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group" data-ng-show="newField.data_type === 'relationship'">
                      <label for="relationship" class="control-label">Relationship</label>
                      <select data-ng-model="newField.relationship" id="relationship" name="relationship" class="form-control" data-ng-options="template_.storage as template_.name for template_ in templates"></select>
                      <p class="help-block">The other Feature Collection you would like to relate this Feature with, for example an enumeration of other values</p>
                    </div>
                    <div class="form-group" data-ng-show="newField.data_type === 'float' || newField.data_type === 'whole_number'">
                      <label for="options" class="control-label">Values</label>
                      <div class="row">
                        <div class="col-sm-6">
                          <input data-ng-model="newField.options.minimum" type="text" id="options_minimum" name="options_minimum" class="form-control" />
                          <p class="help-block">Minimum</p>
                        </div>
                        <div class="col-sm-6">
                          <input data-ng-model="newField.options.maximum" type="text" id="options_maximum" name="options_maximum" class="form-control" />
                          <p class="help-block">Maximum</p>
                        </div>
                      </div>                      
                    </div>

                    <div class="form-group" data-ng-show="newField.data_type === 'file'">
                      <label for="options" class="control-label">Values</label>
                      <input data-ng-model="newField.options.allowed_extensions" type="text" id="options" name="options" class="form-control" />
                      <p class="help-block">A comma separated list of values representing file extensions allowed by this field, include a dot and lower case values only (i.e., .doc, .pdf, .jpg)</p>
                    </div>
                    <hr />
                    <div class="form-group">
                      <div class="checkbox">
                        <label for="is_required" class="control-label">
                          <input data-ng-model="newField.is_required" id="is_required" name="is_required" type="checkbox" /> <strong>Required</strong>
                        </label>
                        <p class="help-block">If marked as required, the user will be forced to enter a value or not be allowed to submit the form.</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label for="is_listed" class="control-label">
                          <input data-ng-model="newField.is_listed" id="is_listed" name="is_listed" type="checkbox" /> <strong>Listed</strong>
                        </label>
                        <p class="help-block">If checked, this field will be displayed in Feature Collections or Lists of Features, for performance reasons we advise not displaying all fields with Feature Collections.</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label for="is_searchable" class="control-label">
                          <input data-ng-model="newField.is_searchable" id="is_searchable" name="is_searchable" type="checkbox" /> <strong>Searchable</strong>
                        </label>
                        <p class="help-block">If checked, this field will be marked as searchable, this is primarily for use in user interfaces and does not enforce any system level rules.</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <input data-ng-click="CreateField()" id="save" name="save" type="submit" class="button pull-right" value="Create Field" />
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>