<div class="row">

  <section data-ng-show="!loading" class="col-xs-12 col-sm-12 page-content">

    <div data-ng-include="'/views/includes/header.html'"></div>

    <div data-ng-show="!loading" class="inner wide">
      <div class="row">
        <div class="col-xs-12">  
          <header class="application">
            <div class="row">
              <div class="col-sm-11">
                <h1 class="short">{{ application.name }}</h1>
              </div>
              <div class="col-xs-1 text-right">
                <a href="/applications/{{ application.id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
              </div>
            </div>
          </header>

          <nav class="application-navigation navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/applications/{{ application.id }}/collections">Feature Collections</a></li>
              <li><a href="/applications/{{ application.id }}/collaborators">Collaborators</a></li>
            </ul>
            <a class="button pull-right" href="/applications/{{ application.id }}/collections/{{ template.id }}/features/add">Add a new feature</a>
          </nav>

          <div class="loading-page"></div>

          <article class="application single template-nested">
            <div class="row">
              <div class="col-sm-5">
                <h1>{{ template.name }}</h1>
              </div>
              <div class="col-sm-7">
                <ul class="nav nav-pills pull-right">
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/features">Features</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics">Statistics</a></li>
                  <li class="active"><a href="/applications/{{ application.id }}/collections/{{ template.id }}/fields">Fields</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/developers">Developers</a></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-5">
                <form class="unselectable">
                  <fieldset>
                  <legend>Form Preview</legend>
                    <div class="form-group" data-ng-repeat="field in fields | orderBy:'id'" data-ng-click="ActionEditField(field)">
                      <div data-ng-if="field.data_type === 'boolean'" class="checkbox">
                        <label>
                          <input disabled="disabled" type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="" checked="checked" /> {{ field.label }}
                        </label>
                      </div>
                      <label data-ng-if="field.data_type !== 'boolean'" for="{{ field.name }}" class="control-label">{{ field.label }}</label>

                      <input disabled="disabled" data-ng-if="field.data_type === 'text'" class="form-control" type="text" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'email'" class="form-control" type="email" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'url'" class="form-control" type="url" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'phone'" class="form-control" type="tel" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'date'" class="form-control" class="form-control" type="date" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'time'" class="form-control" type="time" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'file'" class="form-control" type="file" id="{{ field.name }}" name="{{ field.name }}" value="" />
                      <input disabled="disabled" data-ng-if="field.data_type === 'whole_number' || field.data_type === 'float'" class="form-control" type="number" id="{{ field.name }}" name="{{ field.name }}" value="" />

                      <textarea disabled="disabled" class="form-control" data-ng-if="field.data_type === 'textarea'" id="{{ field.name }}" name="{{ field.name }}"></textarea>

                      <select disabled="disabled" class="form-control" data-ng-if="field.data_type === 'relationship'" id="{{ field.name }}" name="{{ field.name }}"></select>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

<div data-ng-include="'/views/includes/footer.html'"></div>
