<div class="row">

  <section data-ng-show="!loading" class="col-xs-12 col-sm-12 page-content">
    <header>
      <div class="row">
        <div class="col-sm-10">
          <ol class="breadcrumb">
            <li class="front-page"><a title="Return to your dashboard" target="_self" class="sidebar-toggle"><span class="glyphicon glyphicon-cloud"></span></a></li>
            <li><a href="/applications" title="">Applications</a></li>
            <li><a href="/applications/{{ application.id }}" title="">{{ application.name }}</a></li>
            <li><a href="/applications/{{ application.id }}/templates" title="">Templates</a></li>
            <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}" title="">{{ template.name }}</a></li>
            <li class="active"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/settings" title="">Settings</a></li>
          </ol>
        </div>
        <div class="col-sm-2 text-right">
          <ul class="nav account">
            <li><a href="" class="notifications"><span class="glyphicon glyphicon-bell"></span></a></li>
            <li><a href="//api.commonscloud.org/user/profile" class="user"><img data-ng-if="user.email" gravatar-src="'{{ user.email }}'" gravatar-size="24" /></a></li>
          </ul>
        </div>
      </div>
    </header>

    <div data-ng-show="!loading" class="inner wide">
      <div class="row">
        <div class="col-xs-12">  
          <header class="application">
            <div class="row">
              <div class="col-sm-11">
                <div data-ng-show="!EditApplication">
                  <h1 class="short">{{ application.name }}</h1>
                </div>
                <div data-ng-show="EditApplication">
                  <form method="PUT">
                    <input type="text" id="name" name="name" class="form-control input-lg" data-ng-model="application.name" value="{{ application.name }}" />
                    <textarea rows="6" id="description" name="description" class="form-control" data-ng-model="application.description" placeholder="Description">{{ application.description }}</textarea>
                    <input type="url" id="url" name="url" class="form-control" data-ng-model="application.url" placeholder="Website" value="{{ application.url }}" />
                    <input type="submit" data-ng-click="UpdateApplication(application)" class="button" value="Save Changes" />
                  </form>
                </div>
              </div>
              <div class="col-xs-1 text-right">
                <a data-ng-show="!EditApplication" data-ng-click="EditApplication=!EditApplication"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-ng-show="EditApplication" data-ng-click="EditApplication=!EditApplication"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </div>
          </header>

          <nav class="application-navigation navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/applications/{{ application.id }}/templates">Templates</a></li>
              <li><a href="/applications/{{ application.id }}/collaborators">Collaborators</a></li>
            </ul>
          </nav>

          <article class="application single template-nested">
            <div class="row">
              <div class="col-sm-5">
                <h1>{{ template.name }}</h1>
              </div>
              <div class="col-sm-7">
                <ul class="nav nav-pills pull-right">
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features">Features</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/statistics">Statistics</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/fields">Fields</a></li>
                  <li class="active"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/developers">Developers</a></li>
                </ul>
              </div>
            </div>
            <div data-ng-show="alerts.length !== 0" class="row alerts">
              <div class="col-sm-6 col-sm-offset-3">
                <p data-ng-repeat="alert in alerts" class="alert alert-{{ alert.type }}"><strong>{{ alert.title }}</strong> {{ alert.details }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form method="POST" class="form-narrow">
                  <div class="form-group">
                    <label class="control-label" for="name">Template Name</label>
                    <input class="form-control input-lg" data-ng-model="template.name" id="name" name="name" type="text" autofocus="">
                    <p class="help-block">This is the name of the Feature Type, it's what others will see</p>

                    <label class="control-label" for="help">Help text</label>
                    <input class="form-control" data-ng-model="template.help" id="help" name="help" type="text">
                    <p class="help-block">Provide users with the context of this Feature Type or guidlines on proper submission</p>
                  </div>
                  
                  <hr>
        
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="publicly_viewable" class="control-label">
                        <input data-ng-model="template.is_public" id="publicly_viewable" name="publicly_viewable" type="checkbox" /> <strong>Public</strong>
                      </label>
                      <p class="help-block">When a Feature Type is marked as public, we will display content with a status of 'public' or content that has been moderated to the public and it will be accessible via the API as well.</p>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group">
                    <div class="checkbox">
                      <label for="crowd_sourcing" class="control-label">
                        <input data-ng-model="template.is_crowdsourced" id="crowd_sourcing" name="crowd_sourcing" type="checkbox" /> <strong>Crowd-sourcing</strong>
                      </label>
                      <p class="help-block">When Crowd-sourcing is enabled, the public will be allowed to submit content via the API or via an HTML Form.</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="moderate">
                        <input data-ng-model="template.is_moderated" id="moderate" name="moderate" type="checkbox" /> <strong>Moderate crowd-sourced content</strong>
                      </label>
                      <p class="help-block">By default we recommend that all crowd-sourced content be put into a "moderation" status when it is submitted.</p>
                    </div>
                  </div>

                  <hr />

                  <div class="form-group">
                    <div class="checkbox">
                      <label for="geospatial">
                        <input data-ng-model="template.is_geospatial" id="geospatial" name="geospatial" type="checkbox" /> <strong>GeoSpatial Data</strong>
                      </label>
                      <p class="help-block">This will vary from type to type, only you know if this feature type should contain geographiclly specific data.</p>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group">
                      <a class="btn btn-link" data-ng-click="DeleteTemplate(template)">Delete this template</a>
                      <input data-ng-click="UpdateTemplate()" id="save" name="save" type="submit" class="button pull-right" value="Update Template">
                    </div>
                </form>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>