<div class="row">

  <section class="col-xs-12 col-sm-12 page-content">

    <div class="inner wide">
      <div class="row">
        <div class="col-xs-12">  
          <header class="application-header row" data-ng-include="'/views/includes/header.html'"></header>

          <article class="application single">
            <div class="row">
              <div class="col-sm-12">
                <ul class="nav nav-pills pull-right">
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/features">All Features</a></li>
                  <li class="active"><a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics">Statistics</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/fields">Fields</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/developers">Developer</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/import">Import</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="edit">&nbsp;</th>
                      <th>Name</th>
                      <th>Function</th>
                      <th>Units</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="statistic in statistics | orderBy:orderByField:reverseSort">
                      <td><a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics/{{ statistic.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                      <td>{{ statistic.name }}</td>
                      <td>{{ statistic.function }}</td>
                      <td>{{ statistic.units }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

<div data-ng-include="'/views/includes/footer.html'"></div>
