          <article class="application single">
            <div class="row application-content">
              <div class="col-sm-6 col-sm-offset-3">
                <div data-ng-show="alerts" data-ng-include="'/views/includes/alerts.html'"></div>
                <form method="POST">
                  <fieldset>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" data-ng-model="statistic.name" id="name" name="name" />
                    </div>
                    <div class="form-group">
                      <label for="units">Units</label>
                      <input type="text" class="form-control" data-ng-model="statistic.units" id="units" name="units" />
                      <p class="help-block">A simple label to use along side of your rolled-up statistic (e.g., $, %, gal., lbs.)</p>
                    </div>
                    <div class="form-group">
                      <label for="function">Function</label>
                      <select class="form-control" data-ng-model="statistic.function" id="function" name="function" required="required">
                        <option selected="selected" value="sum">Sum</option>
                      </select>
                      <p class="help-block">The function you'd like to perform on the Field you define next</p>
                    </div>
                    <div class="form-group">
                      <label for="field_id">Field</label>
                      <select class="form-control" data-ng-model="statistic.field_id" id="field_id" name="field_id" required="required" data-ng-options="value_.id as value_.label for value_ in fields">
                        <option>--Choose a field --</option>
                      </select>
                      <p class="help-block">This would be the field you like to perform the Function above (e.g., {{ statistic.function }} )</p>
                    </div>
                  </fieldset>
                  <hr />
                  <div class="form-group">
                    <a class="btn btn-link" data-ng-click="DeleteStatistic(statistic)" href="javascript:void()">Delete Statistic</a>
                    <input type="submit" id="update" name="update" data-ng-click="UpdateStatistic(statistic)" class="button pull-right" value="Update Statistic" />
                  </div>
                </form>
              </div>
            </div>