<div class="row">

  <section data-ng-show="!loading" class="col-xs-12 col-sm-12 page-content">

    <div data-ng-include="'/views/includes/header.html'"></div>

    <div data-ng-show="!loading" class="inner wide">
      <div class="row">
        <div class="col-xs-12">  
          <header class="application">
            <div class="row">
              <div class="col-sm-11">
                <h1 class="short">{{ application.name }}</h1>
              </div>
              <div class="col-xs-1 text-right">
                <a href="/applications/{{ application.id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
              </div>
            </div>
          </header>

          <nav class="application-navigation navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/applications/{{ application.id }}/collections">Feature Collections</a></li>
              <li><a href="/applications/{{ application.id }}/collaborators">Collaborators</a></li>
            </ul>
            <a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics/new" class="button pull-right">Add a new statistic</a>
          </nav>

          <article class="application single">
            <div class="row">
              <div class="col-sm-5">
                <h1>{{ template.name }}</h1>
              </div>
              <div class="col-sm-7">
                <ul class="nav nav-pills pull-right">
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/features">All Features</a></li>
                  <li class="active"><a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics">Statistics</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/fields">Fields</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/developers">Developer</a></li>
<!--                   <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/import">Import</a></li>
 -->                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="edit">&nbsp;</th>
                      <th>Name</th>
                      <th>Function</th>
                      <th>Units</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="statistic in statistics | orderBy:orderByField:reverseSort">
                      <td><a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics/{{ statistic.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                      <td>{{ statistic.name }}</td>
                      <td>{{ statistic.function }}</td>
                      <td>{{ statistic.units }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

<div data-ng-include="'/views/includes/footer.html'"></div>
