<div class="row">

  <section class="col-xs-12 col-sm-12 page-content">

    <div data-ng-include="'/views/includes/header.html'"></div>

    <div class="inner wide">

      <div class="row">
        <div class="col-xs-12">

          <header class="application">
            <div class="row">
              <div class="col-sm-11">
                <h1 class="short">{{ application.name }}</h1>
              </div>
              <div class="col-xs-1 text-right">
                <a href="/applications/{{ application.id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
              </div>
            </div>
          </header>
          
          <nav class="application-navigation navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/applications/{{ application.id }}/collections">Feature Collections</a></li>
              <li><a href="/applications/{{ application.id }}/collaborators">Collaborators</a></li>
            </ul>
          </nav>

          <div class="loading-page"></div>

          <article class="application single">
            <div class="row">
              <div class="col-sm-5">
                <h1>{{ template.name }}</h1>
              </div>
              <div class="col-sm-7">
                <ul class="nav nav-pills pull-right">
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/features">All Features</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/statistics">Statistics</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/fields">Fields</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/collections/{{ template.id }}/developers">Developer</a></li>
                  <li class="active"><a href="/applications/{{ application.id }}/collections/{{ template.id }}/import">Import</a></li>
                </ul>
              </div>
            </div>

            <!-- Alerts -->
            <div data-ng-if="alerts" data-ng-include="'/views/includes/alerts.html'"></div>

            <h1>Import from CSV file</h1>

            <div class="row">
              <div class="col-sm-8">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Activity Type</th>
                      <th>Activity Created</th>
<!--                       <th>Last Modified</th>
 -->                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="activity in activities | orderBy:'created':reverseSort">
                      <td>{{ activity.status }}</td>
                      <td>{{ activity.name }}</td>
                      <td>{{ activity.created | date : 'MMMM d, y @ h:mm a' }}</td>
<!--                       <td>{{ activity.updated | date : 'MMMM d, y @ h:mm a' }}</td>
 -->                    </tr>
                    <tr>
                      <td colspan="4">
                        <div class="drop text-center" style="margin: 32px 0;" data-ng-file-drop="onFileSelect($files, field.relationship)" data-ng-file-drag-over-class="drag-over">
                          <span class="btn btn-default">Choose file to import <input type="file" data-ng-file-select="onFileSelect($files, field.relationship)" multiple="multiple" /></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="col-sm-4">

                <p>You can import lists of content using the {{ template.name }} Excel Template file. To ensure content imports easily, follow the steps below:</p>

                <ol>
                  <li>Download the Excel Template for this Feature Collection</li>
                  <li>Only update content within the first Worksheet, do not update column names</li>
                  <li>Save the Excel Template as a Windows CSV</li>
                  <li>Click the "Choose file to import" button and select your CSV file</li>
                </ol>

                <br />

                <p><a class="button button-info" href="//api.commonscloud.org/v2/{{ template.storage }}/excel-template">Download Excel Template</a></p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

<div data-ng-include="'/views/includes/footer.html'"></div>
