<div class="row">

  <section data-ng-show="!loading" class="col-xs-12 col-sm-12 page-content">
    <header>
      <div class="row">
        <div class="col-sm-10">
          <ol class="breadcrumb">
            <li class="front-page"><a title="Return to your dashboard" target="_self" class="sidebar-toggle"><span class="glyphicon glyphicon-cloud"></span></a></li>
            <li><a href="/applications" title="">Applications</a></li>
            <li><a href="/applications/{{ application.id }}" title="">{{ application.name }}</a></li>
            <li><a href="/applications/{{ application.id }}/templates" title="">Templates</a></li>
            <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}" title="">{{ template.name }}</a></li>
            <li class="active"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features" title="">Features</a></li>
          </ol>
        </div>
        <div class="col-sm-2 text-right">
          <ul class="nav account">
            <li><a href="" class="notifications"><span class="glyphicon glyphicon-bell"></span></a></li>
            <li><a href="//api.commonscloud.org/user/profile" class="user"><img data-ng-if="user.email" gravatar-src="'{{ user.email }}'" gravatar-size="24" /></a></li>
          </ul>
        </div>
      </div>
    </header>

    <div data-ng-show="!loading" class="inner wide">
      <div class="row">
        <div class="col-xs-12">  
          <header class="application">
            <div class="row">
              <div class="col-sm-11">
                <div data-ng-show="!EditApplication">
                  <h1 class="short">{{ application.name }}</h1>
                </div>
                <div data-ng-show="EditApplication">
                  <form method="PUT">
                    <input type="text" id="name" name="name" class="form-control input-lg" data-ng-model="application.name" value="{{ application.name }}" />
                    <textarea rows="6" id="description" name="description" class="form-control" data-ng-model="application.description" placeholder="Description">{{ application.description }}</textarea>
                    <input type="url" id="url" name="url" class="form-control" data-ng-model="application.url" placeholder="Website" value="{{ application.url }}" />
                    <input type="submit" data-ng-click="UpdateApplication(application)" class="button" value="Save Changes" />
                  </form>
                </div>
              </div>
              <div class="col-xs-1 text-right">
                <a data-ng-show="!EditApplication" data-ng-click="EditApplication=!EditApplication"><span class="glyphicon glyphicon-pencil"></span></a>
                <a data-ng-show="EditApplication" data-ng-click="EditApplication=!EditApplication"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </div>
          </header>

          <nav class="application-navigation navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/applications/{{ application.id }}/templates">Templates</a></li>
              <li><a href="/applications/{{ application.id }}/collaborators">Collaborators</a></li>
            </ul>
          </nav>

          <article class="application single template-nested">
            <div class="row">
              <div class="col-sm-5">
                <h1>{{ template.name }}</h1>
              </div>
              <div class="col-sm-7">
                <ul class="nav nav-pills pull-right">
                  <li class="active"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features">Features</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/statistics">Statistics</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/fields">Fields</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/settings">Settings</a></li>
                  <li><a href="/applications/{{ application.id }}/templates/{{ template.id }}/developers">Developers</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <a class="button pull-right" href="/applications/{{ application.id }}/templates/{{ template.id }}/features/add">New Feature</a>
                  </div>
                </div>

                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="edit">&nbsp;</th>
                      <th data-ng-repeat="field in fields" data-ng-if="field.is_listed && field.data_type === 'text'">
                        <a href="javascript:void()" data-ng-click="ChangeOrder(field.name)">
                          {{ field.label }} <span data-ng-show="orderByField == '{{ field.name }}'"><span data-ng-show="!reverseSort" class="glyphicon glyphicon-arrow-down"></span><span data-ng-show="reverseSort" class="glyphicon glyphicon-arrow-up"></span></span>
                        </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="feature in features | orderBy:orderByField:reverseSort">
                      <td><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features/{{ feature.id }}"><span class="glyphicon glyphicon-pencil"></span></td>
                      <td data-ng-repeat="field in fields" data-ng-if="field.is_listed && field.data_type === 'text'">{{ feature[field.name] }}</td>
                    </tr>
                  </tbody>
                </table>

                <ul class="pager">
                  <li data-ng-if="featureproperties.current_page !== 1" class="previous"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features?page={{ featureproperties.current_page-1 }}">&larr; Newer</a></li>
                  <li data-ng-if="featureproperties.current_page !== featureproperties.total_pages" class="next"><a href="/applications/{{ application.id }}/templates/{{ template.id }}/features?page={{ featureproperties.current_page+1 }}">Older &rarr;</a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>